{% extends "base.html" %}

{% block contents %}
<hr>
<div>
    {% for item in page %}
      {{item}}
    {% endfor %}
    <div>
        <div align="right">
            <a href="{% url 'rewrite' diary_detail.page_number %}">수정 </a> |
            <a href="{% url 'remove' diary_detail.page_number %}">삭제</a>
        </div>
        <h4>제목: {{ diary_detail.title }}</h4>
    </div> 
    <div>
        <h5 align="right">{{ diary_detail.pub_date }}</h5>
        {{ diary_detail.body }}<br>
    </div> 
    <hr>
    <div align="center">
        {% if diary_detail.page_number > 1 %}
        <a href="{% url 'before' diary_detail.page_number %}">이전 일기</a> |
        {% endif %}
        {% if diary_detail.page_number < row_count %}
        <a href="{% url 'next' diary_detail.page_number %}">다음 일기</a> |
        {% endif %}
        <a href="{% url 'main' %}">목록으로</a>
    </div>   
</div>
{% endblock %}