{% extends "base.html" %}

{% block contents %}
<br>
<form action="{% url 'write' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
	<h4>제목: </h4>
	<input type="text" name="title" placeholder="제목을 입력하세요!" style="width:100%;font-size:20px;">
    <br>
    <br>
	<h4>본문: </h4>
	<textarea cols=40 rows=10 name="body" placeholder="내용을 입력하세요!" style="width:100%;font-size:20px;"></textarea>
    <br>
    <div align="center">
        <input type="submit" value="제출하기">
    </div>
</form>
{% endblock %}